biopython==1.78
certifi==2024.7.4
chardet==4.0.0
contourpy==1.2.1
cycler==0.12.1
distro==1.5.0
fonttools==4.51.0
idna==2.10
importlib-resources==6.4.0
jinja2==3.1.6
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.4
numpy==1.26.4
packaging==24.0
pandas==1.5.3
pillow==10.3.0
pyparsing==3.1.2
pysam==0.22.0.0
python-dateutil==2.8.1
pytz==2020.5
requests==2.32.4
seaborn==0.13.2
six==1.15.0
urllib3==2.6.0
zipp==3.19.1
