<h1>{{ nimble_feature }} report</h1>
<h3>Statistics</h3>
<p><strong>Number of distinct UMIs:</strong> {{ num_UMIs }}</p>
<p><strong>Number of distinct cells:</strong> {{ num_cells }}</p>
<br><br>

<h3>Distribution of Read-Mates per UMI</h3>
<img src="data:image/png;base64,{{ read_mates_per_umi_image }}" alt="Distribution of Read-Mates per UMI">

<h2>Density of positions reported in the input BAM file for read-pairs that received a nimble alignment</h2>
<img src="data:image/png;base64,{{ pos_density_image }}" alt="Density of positions reported in the input BAM file">
<br><br>

<h2>Correlation between nimble and input file calls</h2>
<img src="data:image/png;base64,{{ feature_conf_matrix_image }}" alt="Correlation between nimble and input file calls">
<br><br>

<h2>Distribution of nimble base pair scores across r1 and r2 mates</h2>
<img src="data:image/png;base64,{{ scores_violin_image }}" alt="Distribution of scores for r1 and r2 mates">
<br><br>

<hr>
